:root {
  --cyan: hsl(179, 62%, 43%);
  --brightYellow: hsl(71, 73%, 54%);

  --lightGray: hsl(204, 43%, 93%);
  --grayishBlue: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****************
***Body section***
******************/

body {
  width: clamp(375px, 96vw, 1440px);
  padding: 2.25rem;
  background: var(--cyan);
  text-align: left;
  font-family: "Karla", sans-serif;
}
